


<div class="container mt-4">
    <h1 align="center">Hand Made Bags</h1><br>
    <div class="row">
      <div class="col-md-4" *ngFor="let bag of handBags">
        <div class="card">
          <img [src]="bag.image" class="card-img-top" alt="...">
          <div class="card-body">
            
            <p class="card-text">{{ bag.description }}</p>
            <!-- <p class="card-text">{{ topnotch.price }}</p> -->
  
            <!-- Add To Cart button -->
           
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
  
  