<app-header></app-header>

<div style="margin-top: 100px;"><router-outlet></router-outlet></div>


<!-- <app-header></app-header> -->
<!-- <app-login></app-login> -->
<!-- <app-show-employees></app-show-employees>  -->
 <!-- <app-product></app-product> -->
<!-- <app-register></app-register> -->