<nav class="navbar navbar-expand-lg  bg-light fixed-top" data-bs-theme="dark">
    <div class="container-fluid" style="height: 50px;margin-top: 20px;">
      <img src="assets/Images/pr_logo.jpg" alt="" srcset="" style="height: 45px; border-radius: 50px;"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="home"><h2 style="margin-left: 40px;">Home</h2>
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="aboutus"><h2>AboutUs</h2></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus"><h2>ContactUs</h2></a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>
  

   