
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img src="https://img.faballey.com/images/banner/df7ce42b-a841-40e6-838e-b0fca5ee2bfe.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special Occation wears</h5>
          <p class="card-text"><i><h3>You Can't Born with beauty but you can make your self beauty with my Products...</h3></i></p>
        </div>
      </div>
    </div>
 
</div>


<div class="container mt-4">
  <div class="row">
    
    <div class="col-md-4 ">
      <div class="card">
        <a href="top-notch-dresses"><img src="https://img.faballey.com/images/banner/04f6eba5-e9b2-4b1c-94f8-e05c4f9b7ff3.jpg" class="card-img-top" alt="..." style="height: 300px;"></a>
        <div class="card-body">
          <h2 class="card-title">
            <a href="top-notch-dresses">Top Notch Dressess</a></h2> 
        </div>
      </div>
    </div>
    
    
    <div class="col-md-4 ">
      <div class="card">
        <a href="handBags"><img src="https://th.bing.com/th?id=OPAC.KG1yx87EZU9m8w474C474&w=165&h=220&c=17&dpr=1.5&pid=21.1" class="card-img-top" alt="..." style="height: 300px;"></a>
        <div class="card-body">
          <h2 class="card-title">
          <a href="handBags">Trendy HandBags</a></h2>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-4 ">
      <div class="card">
        <a href="jewellery"><img src="https://th.bing.com/th?id=OPAC.2bTjzbcA0XYbOA474C474&w=160&h=213&c=17&dpr=1.5&pid=21.1" class="card-img-top" alt="..." style="height: 300px;"></a>
        <div class="card-body">
          <h2 class="card-title">
            <a href="jewellery" >Classy Jewellery</a></h2>
        </div>
      </div>
    </div>
    
    <!-- <app-footer></app-footer> -->
    <app-footer></app-footer>
  </div>
</div>
