<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Contact Us</h1>
    </div>
    <div class="main-content">
      <div class="contact-section">
        <h2>Get in Touch</h2><br>
        <p>If you have any inquiries or feedback, feel free to contact us using the form below.</p>
        <form >
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required [(ngModel)]="formData.name">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required [(ngModel)]="formData.email">
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="5" required [(ngModel)]="formData.message"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div><br>
      </div>
      
  </div>
</body>
</html>
