<footer class="w-100 py-4 flex-shrink-0" style="color: black;margin-top: 60px;">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <h3 class="h1 text-white">Brew Online Products</h3>
          <ul class="list-unstyled text-muted">
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers Team</a></li>
            <li><a href="#">Grocery blog</a></li>
            <li><a href="#">Shopping corporate</a></li>
           
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Quick links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">partner with us</a></li>
            <li><a href="#">Shop here with HDFC Bank credit card</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">CONTACT </h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Get started</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Bug bounty</a></li>

          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-3">Newsletter</h5>
          <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          
        </div>
      </div>
    </div>
  </footer>
  