/* .footer { 
    background-color: #000;
    color: #fff; /* Change text color to white for better visibility on black background */
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
  /* } */
  footer{
    font-size: 15px;
    background-color: black;
  }
  